---
import MainLayout from "../layouts/MainLayout.astro";
import RoofSelection from "../components/RoofSelection";
---

<MainLayout title="Ruuf Solar - Inicio">
<main>
   <RoofSelection client:load/>
</main>
</MainLayout>

