---
import MainLayout from "../layouts/MainLayout.astro";
import RectangleCalc from "../components/PanelCalc/RectangleCalc";
---

<MainLayout title="Techo tipo rectángulo">
<main>
       <RectangleCalc client:load/>
</main>
</MainLayout>
    