<nav class="bg-gray-200 shadow dark:bg-gray-800">
  <div
    class="container flex items-center justify-center pt-2 mx-auto text-gray-600 capitalize dark:text-gray-300"
  >
    <a
      href="/home"
      class="text-gray-800 dark:text-gray-200 border-b-2 border-blue-500 mx-1.5 sm:mx-6"
      >home</a
    >

    <a
      href="/rectangle"
      class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6"
      >Rectángulo</a
    >

    <a
      href="#"
      class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6"
      >Triangular</a
    >

    <a
      href="#"
      class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6"
      >Sobre Puesto</a
    >

    <a
      target="_blank"
      href="https://ruuf.cl/"
      class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6"
    >
      <svg
        class="w-6 h-6 fill-current"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <text
          x="0"
          y="18"
          font-size="18"
          font-family="Arial, Helvetica, sans-serif"
          fill="currentColor">RS</text
        >
      </svg>
    </a>
  </div>
</nav>
